.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__logo {
    display: flex; /* Используем flexbox */
    align-items: center; /* Выравнивание по вертикали */
    justify-content: space-between; /* Равномерное распределение между элементами */
    padding: 20px; /* Добавьте необходимый отступ */
}

.search_box {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row; /* Используем flexbox для выравнивания */

}

.navigation ul li {
    margin-right: 20px; /* Добавьте необходимый отступ между ссылками */
}

.navigation ul li:last-child {
    margin-right: 0; /* Убираем отступ у последней ссылки */
}

.navigation ul li a {
    text-decoration: none;
    color: #333; /* Цвет ссылок */
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
}

.navigation ul li a:hover {
    color: #3D348B; /* Цвет ссылок при наведении */
}

.language {
    margin-left: 50px;
    text-transform: uppercase;
    color: #5DB7DE;
    border: none;
}

.splash {
    background: url('img/splash_bg.png') no-repeat center;
    background-size: cover;
    height: 500px;
    margin: auto;
    display: flex;
}

.splash_text {
    color: #FFF;
    font-family: PT Sans, serif;
    margin: 140px 212px 324px;
    width: 526px;
}

.header_text {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
.subheader_text{
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.about_company_link{
    margin-top: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
}
.arrow_button{
    display: inline-flex;
    margin-left: 15px;
}

.splash_cards {

    flex-wrap: wrap;
    margin-bottom: 125px;
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    grid-template-rows: repeat(2, auto); /* Две строки с авто высотой */
    gap: 20px; /* Отступы между карточками */
    border-radius: 20px;
}

.card {
    display: flex;
    padding: 30px 35px;
    border-radius: 20px;
    background: #5DB7DE;
    width: 160px;
    height: 120px;
    /*margin-right: 4px;*/
    /*margin-top: 40px;*/
    color: #FFF;
}
.card_name{
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 18.2px */
    letter-spacing: 1.3px;
    text-transform: uppercase;
}
.card_description{
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

}
.midsection{
    height: 650px;
    background: white;
    display: flex;
}
.midsection_services{
    height: 70px;
    width: 60px;
    margin-top: 70px;
    margin-left: 215px;
}
.midsection_cards {
    grid-template-columns: 160px 160px;
    grid-template-rows: 120px 120px;
    flex-wrap: wrap;
    width: 545px;
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
    margin-left: 245px;
    margin-top: 70px;
    margin-bottom: 65px;
}
.m_card {
    display: flex;
    padding: 30px 35px;
    border-radius: 20px;
    background: #3D348B;
    width: 190px;
    height: 100px;
    /*margin-right: 4px;*/
    /*margin-top: 40px;*/
    color: #FFF;
}
.midsection_services_title{
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 56px */
    margin-bottom: 20px;
}
.midsection_services_item{
    color: #3D348B;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    width: 230px;
    margin-bottom: 20px;
    display: flex;
}
.pdf_download{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 34px;
    margin-left: 15px;
}
.midsection_about_company{
    /*opacity: 0.05;*/
    /*background: #3D348B;*/
    display: flex;
}
.ship_img{
    border-radius: 20px;
    width: 526px;
    height: 350px;
    flex-shrink: 0;
}